// Main Colors
$color-primary: #0b1d3a; // deep navy – backgrounds, headers, buttons
$color-secondary: #d4af37; // luxury gold – accents, buttons, icons
$color-accent: #f9f6f0; // creamy tone – light elegant sections

//  Neutral Colors
$color-white: #ffffff; // pure white – text or backgrounds
$color-black: #000000; // black – hover states, contrast
$color-whitesmoke: #f5f5f5; // nav background
$color-text-muted: rgb(109, 105, 105); // gray text
$color-text-light: #ece8e8ea; // light text on dark backgrounds

// Section Backgrounds
$color-section-bg: rgb(240, 232, 232); // background for "rooms" section
$color-hover-dark: rgb(17, 41, 71); // hover background in "contact"

//  Overlays & Effects
$color-overlay: rgba(11, 29, 58, 0.6); // semi-transparent navy overlay (hero)
$color-deep-overlay: rgba(2, 6, 26, 0.73); // dark overlay (restaurant, spa)

//  Additional Colors
$color-hover: #c5a030; // lighter gold for hover effects

//  Gradients
$gradient-contact: linear-gradient(
	90deg,
	rgba(75, 88, 130, 1) 0%,
	rgba(11, 29, 58, 1) 100%
);
