@use './colors' as *;
@use './mixin' as *;

@media (min-width: 768px) {
	.nav {
		padding: 20px;
		&__burger {
			display: none;
		}

		&__desktop {
			display: block;
			flex-direction: row;

			.nav__item {
				display: inline-block;
				margin: 5px;
			}
		}
	}

	.header {
		background-image: url('../img/hero-img-desktop.jpg');
		&__heading {
			font-size: 8rem;
		}
	}

	.about {
		&__box {
			width: 100%;
			align-items: start;
			flex-direction: row;
			padding: 20px;
		}

		&__img {
			display: block;
			width: 50%;
			min-height: 100%;
			border-bottom-left-radius: 20%;
			border-top-right-radius: 20%;
		}

		&__box-text {
			width: 50%;
		}
	}

	.restaurant {
		background-image: url('../img/restaurant-desktop.jpg');
		background-size: cover;
		background-position: center;
		&__box {
			flex-direction: row;
			align-items: start;
		}

		&__text {
			width: 50%;
			margin: 0 20px;
			padding: 0 15px;
		}

		&__photo {
			width: 50%;
			height: auto;
			margin: 0;
			padding: 0;
		}

		&__heading {
			font-size: 5rem;
		}
	}

	.spa {
		&__box {
			&-bg {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: #02061abb;
				z-index: -1;
			}

			p {
				margin: 5px 0;
				padding: 15px;
			}
		}

		&__desktop {
			display: block;
		}

		&__title {
			margin: 20px 0;
			text-transform: uppercase;
			font-size: 8rem;
			font-family: 'Playfair', sans-serif;
			font-weight: bold;
			color: $color-secondary;
		}

		&__btn {
			display: inline-block;
			padding: 10px 20px;
			background-color: $color-secondary;
			color: $color-primary;
			transition: background-color 0.3s, color 0.3s;
			animation: pulseButton 1.5s ease-in-out infinite;
			&:hover {
				background-color: $color-white;
				color: $color-primary;
			}
		}
	}

	.contact {
		&__box {
			justify-content: space-around;
			flex-direction: row;
			padding: 20px;
			flex-wrap: wrap;
		}

		&__text {
			margin: 0 10px;
			width: 50%;
			max-width: 300px;
		}

		&__container {
			padding: 20px 15px;
			margin: 10px 0;
		}

		&__form {
			width: 50%;
		}
	}

	// PAGES RESTAURANT

	.restaurant-header {
		margin-top: 60px;
		position: relative;
		width: 100%;
		height: 100vh;
		background-image: url('../img/restaurant-desktop.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;

		&__box {
			@include flex-center(row);

			img {
				height: 70vh;
			}
		}

		&__textbox {
			width: 50%;
		}

		&__heading {
			font-size: 6rem;
		}
	}

	// RESTAURANT PAGE

	.meals {
		&__box {
			@include flex-center(row);
			flex-wrap: wrap;
		}

		&__card {
			width: 40%;
		}
	}
}
