@use './colors' as *;
@use './mixin' as *;

// RESTAURANT

.restaurant-header {
	margin-top: 40px;
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../img/restaurant.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;

	&__box {
		@include flex-center(column);
		height: 100%;
		width: 100%;
		text-align: center;
		padding: 20px;

		img {
			width: 100%;
			height: 50vh;
			max-height: 700px;
			max-width: 400px;
			border-radius: 15px;
			object-fit: cover;
		}
	}

	&__textbox {
		margin: 30px;
	}

	&__heading {
		font-family: 'Playfair', sans-serif;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: bold;
		span {
			color: $color-secondary;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $color-deep-overlay;
		z-index: -1;
	}
}

// MEALS SECTION

.meals {
	width: 100%;
	background-color: $color-white;
	color: $color-primary;

	&__box {
		padding: 20px;
		width: 100%;
		@include flex-center(column);
	}

	&__card {
		position: relative;
		width: 80%;
		text-align: center;
		height: 400px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 20px;
		transition: transform 0.3s;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

		&:hover {
			transform: scale(1.05);
		}

		&:hover .meals__text {
			color: $color-secondary;
		}

		&--one {
			background-image: url('../img/restaurant-1.jpg');
		}

		&--two {
			background-image: url('../img/restaurant-2-2.jpg');
		}

		&--three {
			background-image: url('../img/restaurant-3.jpg');
		}
	}

	&__text {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 40%;
		background-color: $color-deep-overlay;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 3rem;
		font-family: 'Playfair';
		transition: color 0.3s;
	}
}
