@use './colors' as *;
@use './mixin' as *;

@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: 6rem;
		}
	}

	.benefits {
		width: 100%;

		&__container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			width: 100%;
			padding: 20px;
		}

		&__box {
			width: 30%;
			margin: 20px;
			i {
				font-size: 3rem;
				color: $color-secondary;
			}
		}
	}

	.rooms {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__card {
			margin: 15px;
		}
	}
}
